@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Big Noodles';
  src: url('../fonts/big_noodle_titling.ttf');
}

$color-red: #D20A32;

body {
  background-color: #191919;
  color: white;
}
a{
	text-transform: none;
	color: #D20A32;
	text-decoration : none;
}

p {
  color: white;
  text-align: justify;

}


.cardEachGame {
  background-color: #191919;
}

.informationsRow{
	display: flex;
	flex-wrap:wrap;
}

.informationsRow>div{

	padding-top: 2em;
    flex: 0 0 33.3333333333%;
	max-width: 33%;
}

.rating{
	color:#D20A32;
	text-align: right;
}

.buttonWebsite{
	background-color:#D20A32;
	padding: 10px;
	color:white;
}

.buttonWebsite a{
	color:white;

}
h1{
	color:#D20A32;
}
h3{
	color:#D20A32;
	font-weight:bold;
	padding: 15px;
}
h5{
	font-weight:bold;
}


#imgScreenshots{
width:100%;
	display: flex;
    flex-wrap: wrap;
}
.protectImg{
	padding: 2em;
	max-width: 50%;
}

.protectImg>img{
	width:100%;
}

#youtubeContent{
	display: flex;
}
#youtubeContent div{
	margin:15px 15px 15px 32px;
	font-weight:bold;
}

#youtubeContentBis{
	display: flex;
}

#youtubeContentBis div{
	margin: 1em;
}

.jumbotron {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 700px;
}

#videotrailer{
	margin-left:32px;
}


#searchValue {
  border-radius: 50px;
}

iframe {
  border: none;
}
